@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: bolad;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik/Rubik-Light.woff") format("woff"), url("../fonts/Rubik/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: Tahoma,'Rubik', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #585C5C;
}

h1, .h1 {
  font-size: 22px;
  color: #000;
  padding: 10px 0px 7px 0px;
}

h2, .h2 {
  font-size: 28px;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

a {
  color: #585C5C;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:active {
  opacity: 0.6;
  outline: none;
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select {
  padding: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1004px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.justify-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.right-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.center-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

*::-webkit-input-placeholder {
  color: #959595;
  font-size: 12px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-moz-placeholder {
  color: #959595;
  font-size: 12px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*::-moz-placeholder {
  color: #959595;
  font-size: 12px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-ms-input-placeholder {
  color: #959595;
  font-size: 12px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header {
  padding-bottom: 40px;
}

.header-top {
  padding: 15px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-language {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-language__item {
  position: relative;
  margin-left: 10px;
}

.header-language__item::before {
  content: '>';
  display: inline-block;
  padding-right: 5px;
  font-size: 8px;
}

.header-language__item:hover, .header-language__item:focus {
  text-decoration: underline;
}

.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  margin-right: 30px;
}

.main-menu > ul {
  list-style: none;
}

.main-menu > ul > li {
  display: inline-block;
}

.main-menu > ul > li.active > a {
  background: #FF0025;
  opacity: 1;
}

.main-menu > ul > li.active > a::after {
  opacity: 1;
}

.main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  padding: 5px 18px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  color: #000;
}

.main-menu > ul > li > a:hover, .main-menu > ul > li > a:focus, .main-menu > ul > li > a.active {
  background: #FF0025;
  opacity: 1;
}

.main-menu > ul > li > a:hover::after, .main-menu > ul > li > a:focus::after, .main-menu > ul > li > a.active::after {
  opacity: 1;
}

.main-menu > ul > li > a::after {
  content: '';
  opacity: 0;
  position: absolute;
  right: 44%;
  bottom: -16px;
  border: 8px solid transparent;
  border-top: 8px solid #FF0025;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  z-index: 1;
}

.main-menu > ul > li.dropdown {
  position: relative;
}

.main-menu > ul > li.dropdown::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 20px;
  z-index: 1;
}

.main-menu > ul > li.dropdown > a {
  position: relative;
}

.main-menu > ul > li.dropdown > a::before {
  content: '';
  position: absolute;
  right: 5px;
  top: 18px;
  border: 4px solid transparent;
  border-top: 4px solid #000;
}

.main-menu > ul > li.dropdown .dropdown-menu {
  position: absolute;
  display: none;
  list-style: none;
  right: 0;
  top: -webkit-calc(100% + 8px);
  top: calc(100% + 8px);
  min-width: 230px;
  background: #8c9584;
  z-index: 100;
  padding: 10px 25px 15px 18px;
  z-index: 10;
}

.main-menu > ul > li.dropdown .dropdown-menu li {
  padding: 5px 15px;
}

.main-menu > ul > li.dropdown .dropdown-menu li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.main-menu > ul > li.dropdown .dropdown-menu li:last-child a {
  padding-bottom: 0;
}

.main-menu > ul > li.dropdown .dropdown-menu li a {
  display: block;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
}

.main-menu > ul > li.dropdown .dropdown-menu li a:hover {
  opacity: 1;
  color: #0f0f0e;
}

.burger-menu {
  display: none;
  background: transparent;
  width: 30px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.burger-menu:focus {
  outline: none;
  opacity: 1;
}

.burger-menu span {
  position: relative;
  width: 100%;
  display: block;
  height: 2px;
  margin-bottom: 6px;
  background: #000;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.burger-menu > span:last-child {
  margin-bottom: 0;
}

.burger-menu.active span:nth-of-type(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-menu.active span:nth-of-type(2) {
  background-color: transparent;
}

.burger-menu.active span:nth-of-type(3) {
  top: -8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.content {
  position: relative;
  min-height: -webkit-calc(100vh - 418px);
  min-height: calc(100vh - 418px);
}

.content::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 320px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8f9986), color-stop(1%, #8f9986), color-stop(44%, #a4ac9c), color-stop(72%, #eaebe8), to(white));
  background: -webkit-linear-gradient(top, #8f9986 0%, #8f9986 1%, #a4ac9c 44%, #eaebe8 72%, white 100%);
  background: -o-linear-gradient(top, #8f9986 0%, #8f9986 1%, #a4ac9c 44%, #eaebe8 72%, white 100%);
  background: linear-gradient(to bottom, #8f9986 0%, #8f9986 1%, #a4ac9c 44%, #eaebe8 72%, white 100%);
}

.content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-left: 3px solid #F6F6F6;
  border-right: 3px solid #F6F6F6;
}

.content-inner {
  position: relative;
  top: 34px;
  width: -webkit-calc(100% - 330px);
  width: calc(100% - 330px);
  padding: 26px 30px;
  background: #fff;
}

.content-inner__wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-inner__wrap .sidebar {
  padding-right: 0;
  position: relative;
  margin-top: 34px;
}

.content-inner__wrap::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -23px;
  height: 46px;
  background: #2A2A2A;
}

.content-inner .tag {
  display: inline-block;
  margin-left: 30px;
  color: #A5A5A5;
  text-decoration: underline;
}

.content-center {
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
  padding-right: 30px;
}

.sidebar {
  width: 300px;
  padding-right: 15px;
}

.sidebar-news {
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(33%, #fefefe), to(#f7f7f7));
  background: -webkit-linear-gradient(top, white 0%, #fefefe 33%, #f7f7f7 100%);
  background: -o-linear-gradient(top, white 0%, #fefefe 33%, #f7f7f7 100%);
  background: linear-gradient(to bottom, white 0%, #fefefe 33%, #f7f7f7 100%);
}

.sidebar-news__img {
  display: inline-block;
  margin-bottom: 10px;
}

.sidebar-news__text {
  padding: 0 15px 20px;
}

.sidebar-news__text p {
  margin-bottom: 8px;
}

.sidebar-news__header {
  margin-bottom: 10px;
  font: 18px;
  font-weight: 600;
}

.sidebar-news__more {
  display: inline-block;
  border-bottom: 1px solid;
}

.sidebar-news__more:hover, .sidebar-news__more:focus {
  opacity: 1;
  color: #FF0025;
}

.sidebar-nav {
  margin-bottom: 30px;
}

.sidebar-nav h3 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 20px;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav ul li {
  margin-bottom: 10px;
}

.sidebar-nav ul li a {
  position: relative;
  padding: 0 0 0 15px;
  font-size: 14px;
  line-height: 18px;
}

.sidebar-nav ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.sidebar-nav ul li a:hover:before {
  left: 4px;
}

.sidebar-nav ul li a:hover, .sidebar-nav ul li a:focus {
  color: #FF0025;
  opacity: 1;
}

.banner {
  position: relative;
  top: -23px;
}

.banner-item {
  position: relative;
}

.banner-item__text {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  margin-bottom: 8px;
  height: 46px;
  font-style: italic;
  background: #2A2A2A;
  color: #8C9584;
  color-font-size: 13px;
}

.banner-item__text::after {
  content: '';
  position: absolute;
  left: 13%;
  bottom: -16px;
  border: 8px solid transparent;
  border-top: 8px solid #2A2A2A;
}

.banner-item__text span {
  padding-right: 10px;
  color: #E0E0D9;
  font-size: 14px;
}

.banner .slick-arrow {
  display: block;
  height: 30px;
  top: 53%;
  width: 30px;
  background: url(../img/arrows.png) no-repeat scroll 0 0 transparent;
  opacity: 1;
  z-index: 10;
}

.banner .slick-arrow::before {
  content: '';
}

.banner .slick-prev {
  left: 20px;
}

.banner .slick-next {
  right: 20px;
  background-position: -30px 0;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 8px 17px 8px 17px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  background: #6a6a6a;
  text-transform: none;
  outline: none;
}

.btn:hover, .btn:focus {
  color: #fff;
  outline: none;
  background: #FF0025;
  opacity: 1;
}

.article-header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 65px;
  padding: 13px 0 20px 55px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(11%, #fefefe), to(#e2e2e2));
  background: -webkit-linear-gradient(top, white 0%, #fefefe 11%, #e2e2e2 100%);
  background: -o-linear-gradient(top, white 0%, #fefefe 11%, #e2e2e2 100%);
  background: linear-gradient(to bottom, white 0%, #fefefe 11%, #e2e2e2 100%);
}

.article-header::before {
  content: '';
  position: absolute;
  left: 26px;
  top: 7px;
  width: 3px;
  height: 52px;
  background: #FF0025;
}

.article-header .h2 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.04em;
}

.article-header .h2 a:hover {
  color: #FF0025;
  opacity: 1;
}

.article-header__info {
  padding: 4px 0 0;
  color: #959595;
  font-size: 12px;
}

.article-item {
  margin-bottom: 15px;
}

.article-item__tag {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
  top: -25px;
  color: #A5A5A5;
}

.article-item__body {
  padding: 25px 10px 22px 29px;
  color: #585C5C;
  line-height: 18px;
  font-size: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(33%, #fefefe), to(#f7f7f7));
  background: -webkit-linear-gradient(top, white 0%, #fefefe 33%, #f7f7f7 100%);
  background: -o-linear-gradient(top, white 0%, #fefefe 33%, #f7f7f7 100%);
  background: linear-gradient(to bottom, white 0%, #fefefe 33%, #f7f7f7 100%);
}

.article-item__body ul {
  list-style: none;
}

.article-item__body ul li {
  position: relative;
  padding-left: 10px;
  line-height: 25px;
  font-size: 12px;
}

.article-item__body ul li a {
  color: #FF0025;
  text-decoration: underline;
}

.article-item__body ul li a:hover, .article-item__body ul li a:focus {
  opacity: 1;
  text-decoration: none;
}

.article-item__body ul li::before {
  content: '>';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 8px;
}

.article-item__body p {
  padding-bottom: 7px;
  padding-top: 7px;
}

.article-item__body p a {
  color: #FF0025;
  text-decoration: underline;
}

.article-item__body p a:hover, .article-item__body p a:focus {
  opacity: 1;
  text-decoration: none;
}

.article-item__body h3 {
  margin-bottom: 20px;
}

.article-item__btn {
  margin-top: 22px;
}

.article-img {
  display: inline-block;
  max-width: 580px;
  text-align: center;
}

.footer-top {
  position: relative;
  padding: 28px 30px;
  background: #9BA392;
}

.footer-top__header {
  position: relative;
  padding-left: 30px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  color: #eef4e7;
}

.footer-top__header::before {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  width: 3px;
  height: 52px;
  background: #eef4e7;
}

.footer-top__links {
  padding-top: 30px;
  padding-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  display: inline-block;
  margin-right: 40px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links li a {
  position: relative;
  padding-left: 20px;
  display: block;
  color: #eef4e7;
}

.footer-links li a:hover, .footer-links li a:focus {
  opacity: 1;
  color: #fff;
}

.footer-links li a::before {
  content: '>';
  position: absolute;
  left: 0;
  top: 2px;
  width: 11px;
  height: 11px;
  background: #6E7C6D;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 7px;
  font-family: Rubik;
  color: #fff;
}

.footer-bottom p {
  padding: 20px 0;
  font-size: 13px;
  text-align: center;
  color: #a4a99e;
}

.decor {
  text-align: center;
  margin: 10px auto 0;
  padding: 5px 0px 5px 0px;
  background: url(../img/polosa.png) top repeat-x;
}

.icon-search {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/icon-search.svg);
  -webkit-background-size: contain;
          background-size: contain;
}

.form-search {
  position: relative;
}

.form-search input {
  width: 220px;
  height: 30px;
  line-height: 30px;
  padding: 0 35px 0 15px;
  outline: none;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  color: #585C5C;
}

.form-search button {
  position: absolute;
  top: 8px;
  right: 15px;
  outline: none;
  background-color: transparent;
  border: none;
  z-index: 1;
}

article {
  padding: 25px 10px 22px 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(33%, #fefefe), to(#f7f7f7));
  background: -webkit-linear-gradient(top, white 0%, #fefefe 33%, #f7f7f7 100%);
  background: -o-linear-gradient(top, white 0%, #fefefe 33%, #f7f7f7 100%);
  background: linear-gradient(to bottom, white 0%, #fefefe 33%, #f7f7f7 100%);
}

article p {
  margin-bottom: 18px;
  color: #585C5C;
  line-height: 18px;
  font-size: 12px;
}

article p a {
  color: #FF0025;
  text-decoration: underline;
}

article ul {
  margin-bottom: 18px;
  list-style: none;
}

article ul li {
  position: relative;
  padding-left: 10px;
  line-height: 25px;
  font-size: 12px;
}

article ul li::before {
  content: '>';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 8px;
}

@media only screen and (max-width: 991px) {
  .main-menu {
    display: none;
  }
  .burger-menu {
    position: relative;
    display: block;
    z-index: 10;
  }
}

@media only screen and (max-width: 768px) {
  .header-top {
    padding: 10px 0 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-logo {
    max-width: 200px;
  }
  .header-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burger-menu {
    position: relative;
    top: 5px;
  }
  .banner .slick-arrow {
    top: 62%;
  }
  .content-wrap {
    display: block;
    border: none;
  }
  .content-center {
    padding: 0 0 10px;
    width: auto;
  }
  .sidebar {
    width: auto;
    max-width: 300px;
    margin: 0 auto;
  }
  .article-item__body {
    padding: 25px 0 22px 0;
    background: #fff;
  }
  .article-header {
    min-height: 60px;
    padding: 10px 0 10px 20px;
  }
  .article-header::before {
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 2px;
  }
  .article-item__btn .btn {
    margin-bottom: 10px;
  }
  .article-item__btn .btn:last-child {
    margin-bottom: 0;
  }
  .footer-links li {
    display: inline;
  }
  .content-inner__wrap {
    display: block;
  }
  .content-inner {
    width: auto;
    padding: 15px;
  }
  .content-inner::before {
    display: none;
  }
  article {
    padding: 20px 0;
    background: #fff;
  }
  article p {
    margin-bottom: 10px;
  }
  article ul {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 374px) {
  .form-search input {
    width: 160px;
  }
  .banner-item__text {
    height: auto;
    padding: 10px 14px;
    font-size: 12px;
  }
  .banner-item__text span {
    font-size: 12px;
  }
  .footer-top__header {
    font-size: 22px;
  }
}
