@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	padding-bottom: 40px

	&-top
		padding: 15px 0 0
		display: flex
		justify-content: flex-end
		align-items: center

	&-language
		display: flex

		&__item
			position: relative
			margin-left: 10px

			&::before
				content: '>'
				display: inline-block
				padding-right: 5px
				font-size: 8px


			&:hover, &:focus
				text-decoration: underline



	&-wrap
		display: flex
		align-items: flex-end
		justify-content: space-between

	&-logo
		margin-right: 30px








	
.main-menu

	>ul
		list-style: none

		>li
			display: inline-block

			&.active
				>a

					background: $red
					opacity: 1

					&::after
						opacity: 1

			>a
				position: relative
				display: inline-block
				padding: 5px 18px
				font-size: 20px
				text-transform: uppercase
				letter-spacing: -0.04em
				color: #000

				&:hover, &:focus, &.active
					background: $red
					opacity: 1

					&::after
						opacity: 1

				&::after
					content: ''
					opacity: 0
					position: absolute
					right: 44%
					bottom: -16px
					border: 8px solid transparent
					border-top: 8px solid $red
					transition: all .3s
					z-index: 1




			&.dropdown
				position: relative

				&::before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: -10px
					height: 20px
					z-index: 1
				>a
					position: relative
					

					&::before
						content: ''
						position: absolute
						right: 5px
						top: 18px
						border: 4px solid transparent
						border-top: 4px solid #000
				
				.dropdown-menu
					position: absolute
					display: none
					list-style: none
					right: 0
					top: calc(100% + 8px)
					min-width: 230px
					background: #8c9584
					z-index: 100
					padding: 10px 25px 15px 18px
					z-index: 10

					li
						padding: 5px 15px

						&:last-child
							border-bottom: 0
							padding-bottom: 0

							a
								padding-bottom: 0

						a
							display: block
							font-size: 10px
							color: #fff
							text-transform: uppercase
							white-space: nowrap

							&:hover
								opacity: 1
								color: #0f0f0e


.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
		opacity: 1
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #000
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)


.content
	position: relative
	min-height: calc(100vh - 418px)
	&::before
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		height: 320px
		background: linear-gradient(to bottom, rgba(143,153,134,1) 0%, rgba(143,153,134,1) 1%, rgba(164,172,156,1) 44%, rgba(234,235,232,1) 72%, rgba(255,255,255,1) 100%)

	&-wrap
		display: flex
		flex-wrap: wrap
		border-left: 3px solid #F6F6F6
		border-right: 3px solid #F6F6F6


	&-inner
		position: relative
		top: 34px
		width: calc(100% - 330px)
		padding: 26px 30px
		background: #fff

		&__wrap
			position: relative
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			.sidebar
				padding-right: 0
				position: relative
				margin-top: 34px

			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: -23px
				height: 46px
				background: #2A2A2A

		.tag
			display: inline-block
			margin-left: 30px
			color: #A5A5A5
			text-decoration: underline

	&-center
		width: calc(100% - 300px)
		padding-right: 30px


.sidebar
	width: 300px
	padding-right: 15px

	&-news
		margin-bottom: 30px
		background: linear-gradient(to bottom, white 0%, #fefefe 33%, #f7f7f7 100%)

		&__img
			display: inline-block
			margin-bottom: 10px

		&__text
			padding: 0 15px 20px

			p
				margin-bottom: 8px

		&__header
			margin-bottom: 10px
			font: 18px
			font-weight: 600

		&__more
			display: inline-block
			border-bottom: 1px solid

			&:hover, &:focus
				opacity: 1
				color: $red

	&-nav
		margin-bottom: 30px

		h3
			margin-bottom: 10px
			font-weight: normal
			font-size: 20px

		ul
			list-style: none

			li
				margin-bottom: 10px

				a
					position: relative
					padding: 0 0 0 15px
					font-size: 14px
					line-height: 18px


					&::before
						content: ''
						position: absolute
						left: 0
						top: 7px
						width: 4px
						height: 4px
						border-bottom: 1px solid
						border-right: 1px solid
						transform: rotate(-45deg)
						transition: all .3s
					&:hover
						&:before
							left: 4px




					&:hover, &:focus
						color: $red
						opacity: 1







.banner
	position: relative
	top: -23px

	&-item
		position: relative
		
		&__text
			position: relative
			display: flex
			align-items: center
			padding: 0 20px
			margin-bottom: 8px
			height: 46px
			font-style: italic
			background: #2A2A2A
			color: #8C9584
    		font-size: 13px

			&::after
				content: ''
				position: absolute
				left: 13%
				bottom: -16px
				border: 8px solid transparent
				border-top: 8px solid #2A2A2A

			span
				padding-right: 10px
				color: #E0E0D9
				font-size: 14px

	.slick-arrow
		display: block
		height: 30px
		top: 53%
		width: 30px
		background: url(../img/arrows.png) no-repeat scroll 0 0 transparent
		opacity: 1
		z-index: 10

		&::before
			content: ''

	.slick-prev
		left: 20px

	.slick-next
		right: 20px
		background-position: -30px 0










.btn
	position: relative
	display: inline-block
	padding: 8px 17px 8px 17px
	color: #fff
	font-size: 13px
	font-weight: bold
	text-decoration: none
	background: #6a6a6a
	text-transform: none
	outline: none

	&:hover, &:focus
		color: #fff
		outline: none
		background: $red
		opacity: 1





.article

	&-header
		position: relative
		display: flex
		justify-content: center
		flex-direction: column
		min-height: 65px
		padding: 13px 0 20px 55px
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 11%, rgba(226,226,226,1) 100%)

		&::before
			content: ''
			position: absolute
			left: 26px
			top: 7px
			width: 3px
			height: 52px
			background: $red

		.h2
			font-size: 20px
			text-transform: uppercase
			letter-spacing: -0.04em
			a:hover
				color: $red
				opacity: 1

		&__info
			padding: 4px 0 0
			color: #959595
			font-size: 12px



	&-item
		margin-bottom: 15px

		&__tag
			position: relative
			display: inline-block
			margin-left: 5px
			text-decoration: underline
			top: -25px
			color: #A5A5A5

		&__body
			padding: 25px 10px 22px 29px
			color: #585C5C
			line-height: 18px
			font-size: 12px
			background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 33%, rgba(247,247,247,1) 100%)


			ul
				list-style: none

				li
					position: relative
					padding-left: 10px
					line-height: 25px
					font-size: 12px

					a
						color: $red
						text-decoration: underline

						&:hover, &:focus
							opacity: 1
							text-decoration: none

					&::before
						content: '>'
						position: absolute
						left: 0
						top: 0
						font-size: 8px


			p
				padding-bottom: 7px
				padding-top: 7px

				a
					color: $red
					text-decoration: underline

					&:hover, &:focus
						opacity: 1
						text-decoration: none

			h3
				margin-bottom: 20px

		&__btn
			margin-top: 22px



	&-img
		display: inline-block
		max-width: 580px
		text-align: center









.footer


	&-top
		position: relative
		padding: 28px 30px
		background: #9BA392

		&__header
			position: relative
			padding-left: 30px
			font-size: 25px
			text-transform: uppercase
			letter-spacing: -0.04em
			color: #eef4e7 

			&::before
				content: ''
				position: absolute
				left: 0
				top: -10px
				width: 3px
				height: 52px
				background: #eef4e7 

		&__links
			padding-top: 30px
			padding-left: 30px
			display: flex
			align-items: flex-start
			justify-content: space-between

	&-links
		list-style: none

		li
			display: inline-block
			margin-right: 40px

			&:last-child
				margin-right: 0

			a
				position: relative
				padding-left: 20px
				display: block
				color: #eef4e7

				&:hover, &:focus
					opacity: 1
					color: #fff

				&::before
					content: '>'
					position: absolute
					left: 0
					top: 2px
					width: 11px
					height: 11px
					background: #6E7C6D
					border-radius: 50%
					display: flex
					align-items: center
					justify-content: center
					font-size: 7px
					font-family: Rubik
					color: #fff

	&-bottom
	
		p
			padding: 20px 0
			font-size: 13px
			text-align: center
			color: #a4a99e


.decor
	text-align: center
	margin: 10px auto 0
	padding: 5px 0px 5px 0px
	background: url(../img/polosa.png) top repeat-x


.icon-search
	display: inline-block
	width: 16px
	height: 16px
	background: url(../img/icon-search.svg)
	background-size: contain



.form

	&-search
		position: relative

		input
			width: 220px
			height: 30px
			line-height: 30px
			padding: 0 35px 0 15px
			outline: none
			background-color: transparent
			border: 1px solid #e0e0e0
			color: #585C5C

		button
			position: absolute
			top: 8px
			right: 15px
			outline: none
			background-color: transparent
			border: none
			z-index: 1


article
	padding: 25px 10px 22px 30px
	background: linear-gradient(to bottom, white 0%, #fefefe 33%, #f7f7f7 100%)

	p
		margin-bottom: 18px
		color: #585C5C
		line-height: 18px
		font-size: 12px

		a
			color: $red
			text-decoration: underline

	ul
		margin-bottom: 18px
		list-style: none

		li
			position: relative
			padding-left: 10px
			line-height: 25px
			font-size: 12px

			&::before
				content: '>'
				position: absolute
				left: 0
				top: 0
				font-size: 8px







@media only screen and (max-width: 991px)
	
	.main-menu
		display: none

	.burger-menu
		position: relative
		display: block
		z-index: 10










@media only screen and (max-width: 768px)
	.header-top
		padding: 10px 0 0
		justify-content: space-between

	.header-logo
		max-width: 200px

	.header-wrap
		align-items: center

	.burger-menu
		position: relative
		top: 5px

	.banner 
		.slick-arrow
			top: 62%

	.content-wrap
		display: block
		border: none

	.content-center
		padding: 0 0 10px
		width: auto

	.sidebar
		width: auto
		max-width: 300px
		margin: 0 auto

	.article-item__body
		padding: 25px 0 22px 0
		background: #fff
	
	.article-header
		min-height: 60px
		padding: 10px 0 10px 20px

		&::before
			left: 0
			top: 0
			bottom: 0
			height: 100%
			width: 2px

	.article-item__btn
		.btn
			margin-bottom: 10px

			&:last-child
				margin-bottom: 0

	.footer-links li
		display: inline

	.content-inner__wrap
		display: block

	.content-inner
		width: auto
		padding: 15px
		&::before
			display: none

	article
		padding: 20px 0
		background: #fff

		p
			margin-bottom: 10px

		ul
			margin-bottom: 10px













@media only screen and (max-width: 374px)
	.form-search 
		input
			width: 160px

	.banner-item__text
		height: auto
		padding: 10px 14px
		font-size: 12px

		span
			font-size: 12px

	.footer-top__header
		font-size: 22px